GhabzinoBot/Connected Services/GhabzinoService/Core.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://application.billingsystem.ayantech.ir/WebServices/Core.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Application" />
  <xs:element name="ElectricityBillInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q1:ElectricityBillInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElectricityBillInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ElectricityBillInquiryResult" nillable="true" type="q2:ElectricityBillInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixedLineBillInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q3:FixedLineBillInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FixedLineBillInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="FixedLineBillInquiryResult" nillable="true" type="q4:FixedLineBillInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GasBillInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q5:GasBillInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GasBillInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="GasBillInquiryResult" nillable="true" type="q6:GasBillInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndUserInquiryHistoryDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q7:GetEndUserInquiryHistoryDetailInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndUserInquiryHistoryDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="GetEndUserInquiryHistoryDetailResult" nillable="true" type="q8:GetEndUserInquiryHistoryDetailOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndUserPaymentHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q9:GetEndUserPaymentHistoryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndUserPaymentHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="GetEndUserPaymentHistoryResult" nillable="true" type="q10:GetEndUserPaymentHistoryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndUserPaymentHistoryDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q11:GetEndUserPaymentHistoryDetailInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndUserPaymentHistoryDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="GetEndUserPaymentHistoryDetailResult" nillable="true" type="q12:GetEndUserPaymentHistoryDetailOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q13:LoginInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="LoginResult" nillable="true" type="q14:LoginOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MCIMobileBillInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q15:MCIMobileBillInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MCIMobileBillInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="MCIMobileBillInquiryResult" nillable="true" type="q16:MCIMobileBillInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q17:PaymentInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PaymentInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="PaymentInquiryResult" nillable="true" type="q18:PaymentInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEndUserInquiryHistoryDetail">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q19:RemoveEndUserInquiryHistoryDetailInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveEndUserInquiryHistoryDetailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="RemoveEndUserInquiryHistoryDetailResult" nillable="true" type="q20:RemoveEndUserInquiryHistoryDetailOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportEndUserComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q21:ReportEndUserCommentInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportEndUserCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ReportEndUserCommentResult" nillable="true" type="q22:ReportEndUserCommentOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportEndUserStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q23:ReportEndUserStatusInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportEndUserStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ReportEndUserStatusResult" nillable="true" type="q24:ReportEndUserStatusOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportNewPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q25:ReportNewPaymentInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportNewPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ReportNewPaymentResult" nillable="true" type="q26:ReportNewPaymentOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPaymentInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q27:ReportPaymentInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReportPaymentInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ReportPaymentInquiryResult" nillable="true" type="q28:ReportPaymentInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestActivationCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q29:RequestActivationCodeInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestActivationCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="RequestActivationCodeResult" nillable="true" type="q30:RequestActivationCodeOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrafficFinesInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q31:TrafficFinesInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TrafficFinesInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="TrafficFinesInquiryResult" nillable="true" type="q32:TrafficFinesInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterBillInquiry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="ws" nillable="true" type="q33:WaterBillInquiryInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WaterBillInquiryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Application" minOccurs="0" name="WaterBillInquiryResult" nillable="true" type="q34:WaterBillInquiryOutput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>